.features-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 72px 24px;
}
@media only screen and (min-width: 768px) {
  .features-item {
    width: calc((100% - 24px * 1) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .features-item {
    width: calc((100% - 24px * 3) / 4);
  }
}
.icon-wrapper {
  display: none;
}

@media only screen and (min-width: 1158px) {
  .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    width: 100%;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }
}
.features-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .features-subtitle {
    text-align: start;
  }
}
@media only screen and (min-width: 1158px) {
  .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
.features-desc {
  font-weight: 500;
}
@media only screen and (min-width: 1158px) {
  .features-desc {
    font-weight: 400;
  }
}
