.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
@media only screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;
    flex-wrap: wrap;
    padding: 0 108px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-container {
    padding: 0;
    margin: 0 auto;
    gap: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-wrapper {
    margin-right: 120px;
  }
}

.footer-link {
  display: block;
  margin-bottom: 16px;
  padding: 0;
  text-align: center;

  color: #f4f4fd;
}
@media only screen and (min-width: 768px) {
  .footer-link {
    text-align: start;
  }
}
.footer-desc {
  max-width: 264px;
}
.footer-social-desc {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer-social-desc {
    text-align: start;
  }
}
.social-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}
.social-item {
  width: calc((100%- 24 * 3) / 4);
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.social-icon {
  color: #f4f4fd;
}
.social-link:hover,
.social-link:focus {
  background-color: #31d0aa;
}

.subscribe-field {
  color: #fff;
}
@media only screen and (min-width: 1158px) {
  .subscribe-field {
    margin-left: auto;
  }
}
.subscribe-title {
  margin-bottom: 16px;
  font-weight: 500;
  color: #fff;

  text-align: center;
}
@media only screen and (min-width: 768px) {
  .subscribe-title {
    text-align: start;
  }
}
.footer-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 16px;
  column-gap: 24px;
}
.footer-form-input {
  background-color: transparent;
  outline: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 8px 16px;
  width: 288px;
  height: 40px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #fff;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
}
@media only screen and (min-width: 768px) {
  .footer-form-input {
    width: 264px;
  }
}
.footer-form-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #fff;
}
.footer-form-input:focus {
  border-color: #31d0aa;
}
.footer-form-btn {
  background: #4d5ae5;
  border-radius: 4px;
  padding: 8px 24px;
  width: 100%;
  height: 40px;
  max-width: 165px;

  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #31d0aa;
}

.subscribe-btn-icon {
  color: #fff;
}
